// SPDX-License-Identifier: GPL-2.0-or-later

/dts-v1/;

#include "ast2700-evb.dts"

/ {
	model = "AST2700-CI-HOST";
};

&bmc_dev0 {
	status = "disabled";
};

&xdma0 {
	status = "disabled";
};

&pcie_vuart0 {
	status = "disabled";
};

&pcie_vuart1 {
	status = "disabled";
};

&pcie_lpc0_kcs0 {
	status = "disabled";
};

&pcie_lpc0_kcs1 {
	status = "disabled";
};

&pcie_lpc0_kcs2 {
	status = "disabled";
};

&pcie_lpc0_kcs3 {
	status = "disabled";
};

&pcie_lpc0_ibt {
	status = "disabled";
};

&pcie0_mmbi0 {
	status = "disabled";
};

&pcie0 {
	status = "okay";
};

&bmc_dev1 {
	status = "disabled";
};

&xdma1 {
	status = "disabled";
};

&pcie_vuart2 {
	status = "disabled";
};

&pcie_vuart3 {
	status = "disabled";
};

&pcie_lpc1_kcs0 {
	status = "disabled";
};

&pcie_lpc1_kcs1 {
	status = "disabled";
};

&pcie_lpc1_kcs2 {
	status = "disabled";
};

&pcie_lpc1_kcs3 {
	status = "disabled";
};

&pcie_lpc1_ibt {
	status = "disabled";
};

&pcie1_mmbi4 {
	status = "disabled";
};

&pcie1 {
	status = "okay";
};
